<template>
  <div class=" rounded overflow-hidden shadow-lg">
      <h3>Edit</h3>
      <div>
          <div>
             <label>Title</label>
             <input type="text" placeholder="title" v-model="title">
          </div>
          <div>
              <label>Description</label>
              <input type="text" placeholder="body" v-model="description">
          </div>
          <div>
              <m-date-picker v-model="date" :lang="lang" :multi="multi" :always-display="false" :format="formatDate"></m-date-picker>
          </div>
            
          <div v-for="(item,index) in date" :key="index">
              <div class="rounded overflow-hidden shadow-lg bg-gray-900 my-8 px-2 py-4 flex justify-between">
                  <p class="text-white">{{`${(new Date(item)).getFullYear()}-${(new Date(item)).getMonth()}-${(new Date(item)).getDate()}`}}</p>
                  <button @click="deleteDate(item)" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                    Delete
                  </button>
              </div>
          </div>
          <button @click="submit">save</button>
      </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name:"CreateEditShifts",
  data() {
    return {
      title: "",
      description: "",
      multi: true,
      date: [],
      lang:"en",
      items:[]
    };
  },

  methods: {
    ...mapMutations(["createShift", "setIsEditPanelOpen", "deleteShift"]),
    submit() {
      this.createShift({
        title: this.title,
        description: this.description,
        date:this.date,
        id:  Date.now()
      });
      this.title = this.description = "";

      this.setIsEditPanelOpen(false)
    },

    formatDate(date) {
        console.log(date.toLocaleDateString())
        return date.toLocaleDateString();
    },
    deleteDate(item){
        const index = this.date.indexOf(item);
        if (index !== -1) {
             this.date.splice(index, 1);
        }
    },
  }

}
</script>

<style>

</style>