<template>
    <div>
        <div class="w-2/3">
          <div class="shift rounded overflow-hidden shadow-lg bg-gray-300 py-4 px-4 my-8" v-for="shift in allShifts" :key="shift.id">
            <h2>{{shift.title}}</h2>
            <p>{{shift.description}}</p>
            <div v-for="(item,index) in shift.date" :key="index">
              <div class="rounded overflow-hidden shadow-lg bg-gray-900 my-8 px-2 py-4 flex justify-between">
                  <p class="text-white">{{`${(new Date(item)).getFullYear()}-${(new Date(item)).getMonth()}-${(new Date(item)).getDate()}`}}</p>
              </div>
            </div>
             <button @click="deleteShift(shift)" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                    Delete
             </button>
          </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

export default {
    name:"ReadShifts",
    computed: mapGetters(["allShifts"]),
    methods: mapMutations(["createShift", "setIsEditPanelOpen", "deleteShift"]),
}
</script>

<style>

</style>