<template>
  <div id="app"  class="px-16">
   
    <div class="flex">
      <div class="w-2/3">
        <div  class = "flex justify-between"> 
          <div>Shifts</div>
          <button @click="openEdit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded uppercase">
            add shift
          </button>
        </div>
        <ReadShifts />
      </div>
      <CreateEditShifts v-if="getIsEditPanelOpen" class="w-1/3"/>
    </div>
  </div>
</template> 

<script>
import { mapMutations } from "vuex";
import { mapGetters } from "vuex";

import ReadShifts from './components/ReadComponent'
import CreateEditShifts from './components/CreateEditShifts'
export default {
  name: 'App',
  components: {
    ReadShifts,
    CreateEditShifts
  },
  data(){
    return{
      isEditPanelOpen:false
    };
  },
  computed: mapGetters(["getIsEditPanelOpen"]),
  methods: {
    ...mapMutations(['setIsEditPanelOpen']),
    openEdit() {
     this.setIsEditPanelOpen(true)
    }
  }


}


</script>

<style lang="stylus">

</style>
